html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background: whitesmoke;
  width: 300px;
  border-radius: 20px;
  box-shadow: 0 5px 30px -5px rgba(0, 0, 0, 0.6);
}

.calculator-display {
  background: linear-gradient(to left, #5eff9e, #ffcb51, #ff4d52);
  filter: grayscale();
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px 20px 0 0;
}

/* Display */
.calculator-display h1 {
  margin: 0;
  padding: 25px;
  font-size: 45px;
  font-family: sans-serif;
  font-weight: 100;
  overflow-x: auto;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 10px;
}

button {
  outline: none;
  width: 60px;
  border-radius: 20px;
  border: solid 2px darkgrey;
  min-height: 50px;
  font-size: 20px;
  font-weight: 500;
  background: rgb(165, 165, 165);
  color: black;
}

.operator {
  background: #fbd786;
  color: black;
  font-size: 25px;
}

.clear {
  background: #f7797d;
  color: white;
}

.equal-sign {
  grid-column: -2;
  grid-row: 2 / span 4;
  background: #c6ffdd;
}

/* Custom Scrollbar */
::-webkit-scrollbar {width: 10px; height: 6px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}


/* Hovering & Focusing & Active */
button:hover {
  filter: brightness(140%);
  border-color: rgb(82, 82, 82);
}

button:active {
  transform: translateY(1px);
}

.operator:hover {
  filter: saturate(200%);
  border-color: #ffc745;;
}

.equal-sign:hover {
  border-color: #50ff96;
  filter: saturate(200%);
}

.clear:hover {
  filter: saturate(200%);
  border-color: #fc555b;
}

/* Media Query */
@media (max-width: 320px) {
  .calculator {
    width: 95%;
  }
}
